In [1]:
import pandas as pd

In [2]:
#link do folderu, w którym mamy bazę:

%cd "C:\Users\Dawid\Desktop\kurs\projekt\uber"

C:\Users\Dawid\Desktop\kurs\projekt\uber

In [3]:
df=pd.read_csv("./database.csv")

C:\Users\Dawid\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.drop(columns=["Unnamed: 0","HOSPSTAY",'DOF1', 'GAD1','DVEST', 
                 'DVBASIS','BAGDEPLY','BAGFAIL','CASENO','MANAVAIL', 'MANFAIL', 'TREATMNT','DEATH'
                ],inplace = True)

In [5]:
df

,CASEID,PSU,YEAR,STRATIF,BODYTYPE,DVTOTAL,MAKE,MODELYR,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT
0,1H,2,2004,H,4.0,NaN,37.0,1995.0,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0
1,1H,2,2004,H,4.0,NaN,37.0,1995.0,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0
2,1H,2,2004,H,4.0,NaN,37.0,1995.0,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0
3,1H,2,2004,H,4.0,NaN,37.0,1995.0,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0
4,1H,2,2004,H,4.0,NaN,37.0,1995.0,20.0,1.0,0.0,178.0,0.0,4.0,1.0,1.0,11.0,1.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2716422,72H,82,2015,H,4.0,NaN,37.0,2010.0,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN
2716423,72H,82,2015,H,5.0,NaN,48.0,2013.0,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN
2716424,72H,82,2015,H,5.0,NaN,41.0,2007.0,22.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN
2716425,76H,82,2015,H,2.0,NaN,42.0,1990.0,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN
2716426,76H,82,2015,H,5.0,NaN,7.0,2007.0,77.0,NaN,NaN,NaN,0.0,NaN,1.0,1.0,11.0,1.0,NaN



Aby sprawnie pracować na danych zawartych w tabeli, podzielimy ją na 3 tabele połacząne kluczem głównym (CASEID i PSU)

In [6]:
occupants = df[["CASEID", 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT']]

In [7]:
occupants.drop_duplicates(subset=["CASEID", 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT'],inplace=True, ignore_index=True)

C:\Users\Dawid\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
vehicles= df[['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [9]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [10]:
accidents = df[['CASEID', 'PSU','YEAR', 'STRATIF']]

In [11]:
accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)